## Making the data

In [ ]:
import pandas as pd
from tabulate import tabulate
import numpy as np

In [ ]:

df = pd.read_csv('data/slice_astronaut.csv',   
                 dtype =  {'Name': 'str', 
                           'Year': 'int',
                           'Group': 'category',
                           'Status': 'category', 
                           'Gender': 'category',
                           'Graduate': 'str',
                           'Space_Walks_hrs': 'float'
                           
                           },
                 parse_dates = ['Birth_Date'] )
df

In [ ]:
type(df)

In [ ]:
type(df.loc[2,"Missions"])

In [ ]:
df.to_markdown()

In [ ]:
df.info()

In [ ]:
print(tabulate(df, tablefmt="pipe", headers="keys"))

In [ ]:
df.columns

In [ ]:
whole = pd.read_csv('data/astronauts.csv', parse_dates = ['Birth Date'], index_col=0 )

In [ ]:
whole.loc[['Neil A. Armstrong',
 'Buzz Aldrin',
 'Patricia Hilliard Robertson',
 'Alfred M. Worden'], ['Missions']].reset_index()['Missions']

In [ ]:
df.to_csv('slice_astronaut.csv')

In [ ]:
type(df.loc[0, 'Birth_Date'])

In [ ]:
type(df.loc[0, 'Birth_Date'])

In [ ]:
data = [[46, 37, 38], [38, 23, 17], [['love', 'hate'], (1,2,4), 26]]
countries = ['USA', 'CHN', 'GBR']
place = ['GOLD', 'SILVER', 'BRONZE']
medals_df = pd.DataFrame(data, countries, place)

In [ ]:
medals_df

In [ ]:
type(medals_df)

In [ ]:
x = df.loc[0, 'Military']

In [ ]:
type(x)

In [ ]:
df['Birth_Date']

In [ ]:
df['new'] = False

In [ ]:
df

In [ ]:
films = pd.read_csv('data/netflix_titles.csv')
films

In [ ]:
films[films['show_id'] == 60029154]

In [ ]:
films.loc[[3374, 4848, 167, 196, 3582, 4859]].to_csv("data/nextflix-ish.csv")

In [ ]:
films = pd.read_csv('data/netflix-ish.csv', dtype={})
films

In [ ]:
films.dtypes

In [ ]:
type(films.loc[4, 'description'])

In [ ]:
print(tabulate(films, tablefmt="pipe", headers="keys"))

In [ ]:
films.dtypes

In [ ]:
L = [ 1, 2, 3, True, [5,3,5], {5,6,3}]

S = {1,2,"three",True, [4,6,3]}

T = (1,2,"three",True, {1,3,5})

D = {1:67, 2:'two', True:'three', 'twelve': {'one': 6 }}

String = "This is interesting"

In [ ]:
T

In [ ]:
D['twelve']

In [ ]:
String.split(' ')

In [ ]:
D[:3]

In [ ]:
S.del(1)

In [ ]:
 {"str", "str", "int", {3,5,7,4}}

In [ ]:
(6,4,6,3,6,(4,5,3))

In [ ]:
lister =

In [ ]:
import random
randomlist = []
for i in range(0,12):
    n = random.randint(1,30)
    randomlist.append(n)
print(randomlist)

In [ ]:
randomlist = ['yellow', 'yellow', 'red', 'blue']

if 'yellow' in randomlist:
    print("greater than 10")
elif 'blue' in randomlist:
    print("greater than 2")

In [ ]:
item= 12
if item >10:
    print("the number is", item)
    print("a")
elif item>20:
    print("b")
else:
    print("c")

In [ ]:
item= 12
if item >20:
    print("the number is", item)
    print("a")
elif item>10:
    print("b")
else:
    print("c")

In [ ]:
import pandas as pd

In [ ]:
whole = pd.read_csv('data/pokemon.csv', index_col=0)

In [ ]:
whole.shape

In [ ]:
astro1 = whole.iloc[:75]

astro1.to_csv('astro1.csv')

In [ ]:
astro2 = whole.iloc[75:106]
astro2.to_csv('astro2.csv')

In [ ]:
astro3 = whole.iloc[106:201]
astro3.to_csv('astro3.csv')

In [ ]:
astro4 = whole.iloc[201:]
astro4.to_csv('astro4.csv')